body {
    background-color: #E4D6C9;;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*images*/
 .row {
   display: flex;
 }
 .column {
    flex: 33.33%;
    padding: 25px;
    text-align: center;
 }

 .column:hover .image {
    opacity: 0.3;
    transform: scale(1.1);
    transition: all ease 500ms;
 }


 img {
    width: 70%;
 }

 .bodyoftext {
    text-align: center;
 }
 /* navagation bar*/
 .navbar {
    text-align: center;
    background-color: #24170D;
    padding-bottom: 25px;
    display: flex;
    padding-left: 50%;
 }

 a:link {
    text-decoration: none;
    color: #E4D6C9;
 }
 
 a:hover {
    text-decoration: none;
    color: #9C8B6D;
 }